---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager:true}));
const pageTitle = 'My Astro Learning Blog';
---
<BaseLayout pageTitle={pageTitle}>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni expedita sunt error architecto non, dolore aliquid blanditiis facilis facere odio veniam iste corrupti quidem. Laboriosam deserunt assumenda ipsa ea.</p>
    <ul>

        {allPosts.map((post: any) => <BlogPost url={post.url} title = {post.frontmatter.title} />)}
    </ul>
</BaseLayout>




