---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My blog Sub Title</h2>
	<Greeting client:load messages={["Ahoy", "Hej", "Hallo", "Hola"]} />
</BaseLayout>